# Auto detect text files and perform LF normalization
* text=auto

*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf
*.csproj   text eol=crlf

# Ignore all files (css) in the MvcMiniGigApp.Web/Content folder 
MvcMiniGigApp.Web/Content/* linguist-vendored

# Ignore all files (css) in the MvcMiniGigApp.Web/Content/themes/base folder 
MvcMiniGigApp.Web/Content/themes/base/* linguist-vendored

MvcMiniGigApp.Web/Scripts/* linguist-vendored
MvcMiniGigApp.Web/Scripts/esm/* linguist-vendored
MvcMiniGigApp.Web/Scripts/umd/* linguist-vendored

# Serialisation
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text

# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
